{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}A propos{% endblock%}

{% block body %}
    <header>
        <h1>A propos de Reading passion</h1>
		<hr>
    </header>
    <article>
        <p>
		<span style="color:red; font-weight:bold;">&#9888;</span> Ce blog contient du contenu fictif, représentant des sujets et des commentaires d'utilisateurs.
		</p>
    </article>
{% endblock %}