<html>
	<head>
	<title>Bienvenue sur ma premi&egrave;re page avec le Site du Z&eacute;ro!</title>
	</head>
		<body>
			<h1>Hello World !</h1>
				<p>
				Le Hello World est un grand classique en programmation.
				Il signifie &eacute;norm&eacute;ment, car cela veut dire que vous avez
				r&eacute;ussi &agrave; ex&eacute;cuter le programme pour accomplir une t&acirc;che simple : afficher ce hello world !
				</p>
		</body>
</html>